* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'arial';
    background-color: black;
    color: white;
}

.header-inner-container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    padding: 1rem;
    position: sticky; /* Define que a barra vai continuar fixa na tela mais ainda vai se mexer */
    top: 0;
    box-shadow: 10px 0px 10px rgb(4, 28, 105);
    z-index: 99;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Define que os espaços entre eles é igual */
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container {  /* Editando a imagem da SideBar */
    display: flex;
    align-items: center;
}

.nav-icon-container img {
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child {
    margin-right: 1rem;
}

nav ul li {
    color: cyan;
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover {
    transform: translateY(-1px); /* Defini a pequena subida da palavra */
    transition: all 0.2s; /* Quanto tempo leva para fazer as mudanças */
    font-weight: bold;
}

header {
    display: flex;
    padding: 1.5rem;
    align-items: center;
    background-image: url(); /* Verificar mais Depois */
}

.logo {
    font-size: 500%;
    font-style: none;   /* Ver uma boa font-style para o Titulo */
    color: cyan;
    font-style: italic;
    padding: 5%;
}

.logo span {
    color: white;
}

.logo-img {
    width: 18%;
    height: 15%;
    margin: 3% 5% 3% 7%;
}